extends layout 

block content 
   div.form-container.sign-up-container
      form.forms.sign-up-form(action="", method="POST")
        div.sign-up-container
          h1 Sign Up  
        if errors 
          div.form-errors-container
            p.errors The form contains #{errors.length} errors.
          ul.list-of-errors
            for error in errors 
              li.error-item= error.msg
        div.user-name-container.input-container
          label(for="username" ) Username:
          input(name="username", placeholder="John Doe", type="text")
        div.password-container.input-container
          label(for="password") Password:
          input(name="password", type="password")
        div.btn-container 
          button(type="submit") Sign Up

