:root {
  --main-color: #16425b;
  --secondary-color: #d9dcd6;
  --green-color: #80ed99;
  --dark-green: #054a29;
  --blue-color: #22577a;
  --error-color: #d00000;
  --error-color-background: #f6cccc;
  --border-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  /* grid-template-columns: repeat(3, 1fr); */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  background-color: var(--main-color);
  margin: 0 2rem;
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;

  font-size: 2.4rem;
}

.main-container {
  display: grid;
  grid-template-areas: 'info messages messages';
}

header {
}

header a {
  font-size: 3rem;
  background: linear-gradient(90deg, rgb(213, 45, 45), blue);
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.info-container {
  grid-area: info;

  display: grid;
  justify-items: center;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1.4rem;
  text-decoration: none;
  font-size: 1.8rem;
  border: 2px solid var(--secondary-color);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--secondary-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3.2;
}

.button:hover {
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  color: black;
}

.button:active {
  scale: 1;
}

/* --------------------  MESSAGES ------------------------ */
.messages-container {
  grid-area: messages;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  padding: 0 2rem;
  max-width: 70rem;
  min-width: 40rem;
  min-height: 40rem;
  max-height: 80vh;
  overflow: auto;
}

.message-info-container {
  display: flex;
  gap: 2rem;
}

.send-message-field-container {
  margin: 2rem 4rem;
}

#send-message-form {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}

.message-send {
  flex-grow: 1;
  border-radius: 99999999999rem;
  padding: 1rem 1rem;

  font-size: 2rem;
  border-style: none;
}

.send-img-icon {
  width: 4rem;
  height: 4rem;
}

.send-img-icon button {
  background-color: transparent;
  border: none;
}

.send-img-icon button:hover:not([disabled]) {
  cursor: pointer;
}

.send-icon-img {
  border-radius: 0;
}

.img-container {
  width: 5rem;
  height: 5rem;
}

.img-container-info {
  justify-self: center;
  align-self: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-user {
  text-align: center;
}

.message {
  display: flex;
  flex-flow: column wrap;

  flex-grow: 1;

  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: var(--border-radius);
  font-size: 1.8rem;
}

.message-title {
  flex-grow: 1;
}

.message-body {
}

.message-sender {
}

/* --------------------  FORMS CONTAINER ------------------------ */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  max-width: 100%;
  min-height: 40rem;
}

.errors {
  color: var(--error-color);
  background-color: var(--error-color-background);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.list-of-errors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: square;
  margin: 0.2rem 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}

/* -------------------- SIGN UP FORM ------------------------ */

.forms {
  display: flex;
  flex-direction: column;

  width: 45rem;
  height: 50rem;
  background-color: white;
  gap: 1rem;
  padding: 1rem 1rem 4rem 1rem;
  border-radius: var(--border-radius);
}

.sign-up-container h1 {
  padding-top: 2rem;
  font-size: 4.4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.user-name-container.input-container {
  margin-top: 5rem;
  font-size: 2.6rem;
}

.password-container.input-container {
  margin-bottom: 5rem;
  font-size: 2.6rem;
}

.input-container label {
  align-self: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  border-style: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
}

.btn-container button:hover {
  cursor: pointer;
}

.input-container input {
  border-radius: 4px;
  border-style: none;
  background-color: rgb(227, 227, 227);
  padding: 0.5rem;
}

.input-container label {
  text-align: center;
}

.title {
  font-size: 4rem;
}

a {
  color: #00b7ff;
}

/* -------------------- LOGIN FORM ------------------------ */

.log-in-container h1 {
  padding-top: 2rem;
  font-size: 4.4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}
