:root {
  --main-color: #16425b;
  --secondary-color: #d9dcd6;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'info messages messages';

  /* grid-template-columns: repeat(3, 1fr); */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  background-color: var(--main-color);
  margin: 0 2rem;
  max-width: 120rem;
  min-height: 100vh;
}

header {
  grid-area: header;
}

header a {
  font-size: 3rem;
  background: linear-gradient(90deg, rgb(213, 45, 45), blue);
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.info-container {
  grid-area: info;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1.4rem;
  text-decoration: none;
  font-size: 1.8rem;
  border: 2px solid var(--secondary-color);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--secondary-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3.2;
}

.button:hover {
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  color: black;
}

.button:active {
  scale: 1;
}

/* --------------------  MESSAGES ------------------------ */
.messages-container {
  grid-area: messages;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 1rem;
  max-width: 70rem;
  min-width: 40rem;
  height: 40rem;
  overflow: auto;
  outline: 1px solid red;
}

.message {
  display: flex;
  flex-flow: column wrap;

  background-color: white;
  border-radius: 8px;
}

.message-title {
  flex-grow: 1;
}

.message-body {
}

.message-sender {
}

/* -------------------- SIGN UP FORM ------------------------ */

.sign-up-form {
  background-color: var(--secondary-color);
}

.title {
  font-size: 4rem;
}

a {
  color: #00b7ff;
}

/* -------------------- LOGIN FORM ------------------------ */
